{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1 class="text-center">Login</h1>
    <form method="POST" action="{{ url_for('main.login') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-label") }}
            {{ form.password(class="form-control") }}
        </div>
        <div class="form-group text-center">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
    <p class="text-center">Don't have an account? <a href="{{ url_for('main.register') }}">Register</a></p>
{% endblock %}
